.sign_up_btn {
    background: #FF3811;
    color: white;
    transition: 0.3s ease-in-out;
}

.sign_up_btn:hover {
    background: #000;
}

.sign_up_form .sign_up_style {
    position: relative;
    transition: 0.3s ease-in-out;
}

.sign_up_form:hover .sign_up_style {
    color: red;
}

.sign_up_form .sign_up_style::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px !important;
    left: 50%;
    bottom: -10px;
    background: red;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}

.sign_up_form:hover .sign_up_style::after {
    width: 30%;
}

i.custom_icon_css {
    transition: 0.3s ease-in-out;
}

i.custom_icon_css:hover {
    background: #000;
    color: #fff;
}